.skript__line {
	display: block;
	font-family: Lora;
	font-size: 13px;

	border: none;

	margin: 15px;
	width: 100%;
}

.skript__scene {
	font-weight: bold;
	text-transform: uppercase;
}

.skript__character {
	text-transform: uppercase;
	text-align: center;

	margin-top: 30px 0 5px 0;
}

.skript__dialogue {
	width: 75%;
	margin: 5px auto 5px auto;
}

.skript__parentheses {
	text-align: center;
	font-style: italic;
	color: #333;

	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.skript__parentheses::before {
	content: "(";
}

.skript__parentheses::after {
	content: ")";
}

.skript__action {
	font-style: italic;
	width: 50%;
}

.skript__transition {
	text-align: right;
	width: 50%;
}
